.content-preview {
    box-shadow: 0 2px 2px -1px #0000001a;
    width: 100%;
    border: 1px solid var(--theme-elevation-150);
    border-radius: var(--style-radius-s);
    background: #fff;
    padding: 8px 15px;
}