@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto", Arial, sans-serif;
  src: url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Roboto", Arial, sans-serif;
  src: url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Roboto", Arial, sans-serif;
  src: url("/fonts/roboto/Roboto-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: 0.02rem;
}

@layer components {
  .active-menu-link {
    @apply flex items-center justify-start w-full p-4 my-2 font-thin text-blue-500 uppercase transition-colors duration-200 border-r-4 border-blue-500 bg-gradient-to-r from-white to-blue-100;
  }
  .menu-link {
    @apply flex items-center justify-start w-full p-4 my-2 font-thin text-gray-500 uppercase transition-colors duration-200 hover:text-blue-500;
  }
}
